<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grand Pixel</title>
    <link rel="stylesheet" href="../bootstrap.min.css">
    <link rel="stylesheet" href="../style.css">

    <script src="./view.js"></script>
    <script src="./visualizador.js"></script>
</head>

<body>
    <div class="contenedor-main">
        <div class="d-flex contenedor-secund">
            <div class="d-flex barra-opciones">
                <button id="btn-rest-zoom" class="btn">- Zoom</button>
                <button id="btn-add-zoom" class="btn">+ Zoom</button>
            </div>
            <div class="caja-dbj">
                <div id="img-vista" style="background-image: url(../../img/img-pruebas.jpg)";></div>
            </div>
        </div>
    </div>
</body>

</html>