<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grand Pixel</title>
    <link rel="stylesheet" href="../Styles/bootstrap.min.css">
    <link rel="stylesheet" href="../Styles/style.css">
</head>

<body>

    <div class="contenedor-main position-relative">

        <!--ANIMACION DE CARGADO DE APLICACION-->
        <div id="animacion-loading-app" class="overflow-hidden">
            <img src="../../img/loading-app-gif.gif" alt="">
        </div>

        <div id="menu" class="d-flex justify-content-between">
            <div class="">
                <button onclick="guardarImagen()" id="btn-save" title="Save" class="btn menu-btn">
                    <img class="menu-img" src="../../img/save-img.svg">
                </button>
                <button onclick="cambiarImagen()" id="btn-load-img" title="Load Image" class="btn menu-btn">
                    <img class="menu-img" src="../../img/upload-img.svg">
                </button>
                <button onclick="undoTest()" id="btn-undo-test" title="Undo Test" class="btn menu-btn">
                    <img class="menu-img" src="../../img/undo-test.svg">
                </button>
            </div>
            <div class="">
                <button onclick="resetImgToOriginal()" id="btn-reset" title="Reset to original img"
                    class="btn menu-btn">
                    <img class="menu-img" src="../../img/reset-img.svg">
                </button>
                <button id="btn-info" title="Undo Test" class="btn menu-btn">
                    <img onclick="abrirVentanaInfo()" class="menu-img" src="../../img/info-img.svg">
                </button>
            </div>
        </div>
        <div id="cont-workbench" class="d-block mx-0 px-0 d-flex">
            <div id="cont-opciones" class="mx-0 d-block">
                <div class="d-grid gap-2 mb-3 px-3 pt-3">
                    <button onclick="motivacion()" class="btn btn-dark" id="btn-motivacion">Motivacion</button>
                </div>
                <div class="accordion" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                Pixelate
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="d-grid gap-2 mb-3">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <p class="d-block m-0">Pixel Size:</p>
                                        <input id="lbl-pix-1" class="d-block txt-number" disabled="false" type="number">
                                    </div>
                                    <input oninput="rangeEventPix1()" id="rng-pix-1" type="range" min="0" max="100">
                                    <div class="row">
                                        <div class="col-6">
                                            <button onclick="testearPixelado1()" id="btn-test-pix-1"
                                                class="btn btn-dark w-100">Test</button>
                                        </div>
                                        <div class="col-6">
                                            <button onclick="aplicarPixeleado1()" id="btn-pix-1"
                                                class="btn btn-primary w-100">Aplicar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseSeven" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                Blur
                            </button>
                        </h2>
                        <div id="flush-collapseSeven" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div>
                                    <b>Fast Blur</b>
                                    <div class="d-grid gap-2 mb-3">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <p class="d-block m-0">Value:</p>
                                            <input id="lbl-fast-blur" class="d-block txt-number" disabled="false"
                                                type="number">
                                        </div>
                                        <input oninput="rangeEventFastBlur()" type="range" min="1" max="50" name="Lel"
                                            id="rng-fast-blur">
                                        <div class="row">
                                            <div class="col-6">
                                                <button onclick="testearFastBlur()"
                                                    class="btn btn-dark w-100">Test</button>
                                            </div>
                                            <div class="col-6">
                                                <button onclick="aplicarFastBlur()"
                                                    class="btn btn-primary w-100">Aplicar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <b>Gaussian Blur</b>
                                    <div class="d-grid gap-2 mb-3">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <p class="d-block m-0">Value:</p>
                                            <input id="lbl-gauss-blur" class="d-block txt-number" disabled="false"
                                                type="number">
                                        </div>
                                        <input oninput="rangeEventGaussBlur()" type="range" min="1" max="10" name="Lel"
                                            id="rng-gauss-blur">
                                        <div class="row">
                                            <div class="col-6">
                                                <button onclick="testearGaussBlur()"
                                                    class="btn btn-dark w-100">Test</button>
                                            </div>
                                            <div class="col-6">
                                                <button onclick="aplicarGaussBlur()"
                                                    class="btn btn-primary w-100">Aplicar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                Brightness
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="d-grid gap-2 mb-3">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <p class="d-block m-0">Brightness:</p>
                                        <input id="lbl-bright" class="d-block txt-number" disabled="false"
                                            type="number">
                                    </div>
                                    <input oninput="rangeEventBright()" type="range" step="0.1" min="-1" max="1"
                                        name="Lel" id="rng-bright">
                                    <div class="row">
                                        <div class="col-6">
                                            <button onclick="testearBright()" id="btn-test-bright"
                                                class="btn btn-dark w-100">Test</button>
                                        </div>
                                        <div class="col-6">
                                            <button onclick="aplicarBright()" id="btn-bright"
                                                class="btn btn-primary w-100">Aplicar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                Contrast
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="d-grid gap-2 mb-3">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <p class="d-block m-0">Contrast:</p>
                                        <input id="lbl-contrast" class="d-block txt-number" disabled="false"
                                            type="number">
                                    </div>
                                    <input oninput="rangeEventContrast()" type="range" step="0.1" min="-1" max="1"
                                        name="Lel" id="rng-contrast">
                                    <div class="row">
                                        <div class="col-6">
                                            <button onclick="testearContrast()" id="btn-test-contrast"
                                                class="btn btn-dark w-100">Test</button>
                                        </div>
                                        <div class="col-6">
                                            <button onclick="aplicarContrast()" id="btn-contrast"
                                                class="btn btn-primary w-100">Aplicar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFive" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                Grey Scale
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="d-grid gap-2 mb-3">
                                    <div class="row">
                                        <div class="col-6">
                                            <button onclick="testearGreyScale()" id="btn-test-grey-scale"
                                                class="btn btn-dark w-100">Test</button>
                                        </div>
                                        <div class="col-6">
                                            <button onclick="aplicarGreyScale()" id="btn-gray-scale"
                                                class="btn btn-primary w-100">Aplicar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseSix" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                Invert Colors
                            </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="d-grid gap-2 mb-3">
                                    <div class="row">
                                        <div class="col-6">
                                            <button onclick="testearInvertColors()"
                                                class="btn btn-dark w-100">Test</button>
                                        </div>
                                        <div class="col-6">
                                            <button onclick="aplicarInvertColors()"
                                                class="btn btn-primary w-100">Aplicar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                Dither
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="d-grid gap-2 mb-3">
                                    <div class="row">
                                        <div class="col-6">
                                            <button onclick="testearDither()" id="btn-test-pix-1"
                                                class="btn btn-dark w-100">Test</button>
                                        </div>
                                        <div class="col-6">
                                            <button onclick="aplicarDither()" id="btn-pix-1"
                                                class="btn btn-primary w-100">Aplicar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 h-100 m-0 p-0 position-relative">

                <!--NO IMAGE BACKGOUND-->
                <div id="no-img-background" class="overflow-hidden">
                    <img width="300px" src="../../img/no-image-icon.png" alt="">
                </div>

                <!--LOADING ANIMATION-->
                <div id="loading-animation" class="overflow-hidden">
                    <img src="../../img/loading-gif.gif" width="90px" alt="">
                </div>

                <!--MOTIVATIONAL ANIMATION-->
                <div id="motivational-animation" class="overflow-hidden">
                    <img src="../../img/motivacion1.gif" width="320px" alt="">
                </div>

                <div class="caja-dbj">
                    <div id="img-vista"></div>
                </div>
            </div>
        </div>

        <!-- Button trigger modal -->
        <button id="btn-trigger-modal" style="display: none;" type="button" class="btn btn-primary"
            data-bs-toggle="modal" data-bs-target="#modalImgNoCargada">
            Launch static backdrop modal
        </button>

        <!--MODAL ERROR IMAGEN-->
        <div class="modal fade" id="modalImgNoCargada" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sin imagen cargada</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        No hay una imagen cargada
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../Styles/bootstrap.min.js"></script>
    <script src="./view.js"></script>
</body>

</html>